<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibPredict - Your Personalized Content-Library Tracker</title>
    <link rel="stylesheet" href="../static/styles/landingpage.css"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <nav class="navbar">Sign Up Below</nav>
    <header>
        <h1 class="main_name">LibPredict</h1>
        <p class="second_name">Your Personalized Content-Library Tracker</p>
    </header>
    
    <main class="main_container">
        <div class="feature">
            <img src="../pexels-cottonbro-4855373.jpg" alt="Personalized Library" class="feature-image">
            <h2>Personalized Library</h2>
            <p>Manage your reading list with ease.</p>
        </div>
        <div class="feature">
            <img src="/pexels-asphotograpy-5494323.jpg" alt="Chrome Tab Extension" class="feature-image">
            <h2>Chrome Tab Extension</h2>
            <p>Access your library anytime, anywhere.</p>
        </div>
        <div class="feature">
            <img src="../pexels-n-voitkevich-7172815.jpg" alt="Content Tracking" class="feature-image">
            <h2>Content Tracking</h2>
            <p>Stay updated with your reading habits.</p>
        </div>
    </main>
    
    <div class="cta-container">
        <a href="/LibPredict/signup" class="get-started-button">Get Started</a>
    </div>
    
    <footer class="footer">© 2024 LibPredict. All Rights Reserved.</footer>
</body>
</html>
